.contener {
    border: 3px solid #231d1f;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.field {
    width: 12.5%;
    height: 12.5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}

.field div {
    width: 55%;
    height: 55%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;

}

.white {
    background-color: white;
}

.black {
    background-color:#769656;
}


.field .flag {
    text-align: center;
    width: 65%;
    height: 65%;
    border-radius: 50%;
    background: none;
    border: 1vw solid rgba(0, 0, 0, 0.3);
}

.a11 {
    background-image: url("./img/11.svg");
}
.a12 {
    background-image: url("./img/12.svg");
}
.a13 {
    background-image: url("./img/13.svg");
}
.a14 {
    background-image: url("./img/14.svg");
}
.a15 {
    background-image: url("./img/15.svg");
}
.a16 {
    background-image: url("./img/16.svg");
}
.a21 {
    background-image: url("./img/21.svg");
}
.a22 {
    background-image: url("./img/22.svg");
}
.a23 {
    background-image: url("./img/23.svg");
}
.a24 {
    background-image: url("./img/24.svg");
}
.a25 {
    background-image: url("./img/25.svg");
}
.a26 {
    background-image: url("./img/26.svg");
}